@media only screen and (max-width: 425px) {

    .fondos-textos {
        position: absolute;
        right: 15%;
        bottom: 6.25rem;
        left: 15%;
        padding-top: 2.25rem;
        padding-bottom: 2.25rem;
        text-align: center;

        h1,h2 {
            font-size: 25px;
            color: #eed01a;
            font-weight: bold;
            text-shadow: 3px 3px black;
        }

        p {
            font-size: 15px; 
            color: #ebdec2;
            text-shadow: 1px 2px black;
        }
    }


    .fondos-textos-2 {

        position: absolute;
        right: 15%;
        bottom: -50rem;
        left: 15%;
        padding-top: 9rem;
        padding-bottom: 9rem;
        text-align: center;
    

        h1,h2 {
            font-size: 25px;
            color: #eed01a;
            font-weight: bold;
            text-shadow: 3px 3px black;
        }
        p {
            font-size: 15px; 
            color: #ebdec2;
            text-shadow: 1px 2px black;
        }
    }

    .main-world {
        .world-text {
            display: none;
        }

        .img-world {
            display: none !important;
        }

        .card-text {
            font-size: 12px !important;
        }
    }

    .bgs-razas {
        height: 100vh;

        .races-text {
            margin: 10px;
        }

        .img-logo-razas {
            height: 12vh;
        }
    }

}