* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "AR One Sans", sans-serif;
  font-size: 16px;
  background-color: black;
  color: white;
}

::selection {
  background-color: #211510;
  color: #fff;
}

h1, h2, h3, h4, h5, h6 {
  color: #eed01a !important;
  font-weight: bold;
  text-shadow: 3px 3px black;
  font-family: "Orienta", sans-serif;
}

p {
  color: white;
  font-family: "AR One Sans", sans-serif;
}

li {
  list-style: none;
  margin: 15px;
}

a {
  color: #eed01a;
  text-decoration: none;
}

a:hover {
  color: white;
}

.bg-dark-opacity {
  background-color: rgba(0, 0, 0, 0.6705882353);
}

.bg-list {
  background-color: #2B1D1C;
  border: 2px solid black;
}

.list-item-action:hover {
  color: #eed01a;
}

.border-accordion {
  border: 1px solid black;
}

.border-accordion-header {
  border-bottom: 1px solid black;
}

.accordion-button {
  color: white;
  background-color: #2B1D1C !important;
}
.accordion-button::after {
  background-image: url(../img/Others/buttom-expand.png);
  transition: none;
}
.accordion-button:not(.collapsed)::after {
  background-image: url(../img/Others/buttom-unexpand.png);
  transform: none;
}
.accordion-button:hover {
  color: #eed01a;
}
.accordion-button:focus {
  color: #eed01a;
  border: 1px solid #eed01a;
  box-shadow: 0 0 0 0.25rem rgba(64, 47, 46, 0.7);
}

.accordion-item {
  background-color: #1E1414;
}

.question {
  margin: 20px;
}

.question-border {
  border-bottom: 1px solid rgb(64, 47, 46);
}

.accordion-body {
  padding: 10px 10px;
}

.accordion-body-question {
  padding-right: 15px;
  font-weight: bold;
}

.iron-media {
  border-radius: 10px !important;
  border-image-outset: 7px 8px 7px 8px !important;
  border-image-width: 16px !important;
  border-image-slice: 16 fill !important;
  border-image-source: url(../img/Others/metal_frame.png) !important;
  border-image-repeat: round !important;
}

.line-left {
  border-left: 1px solid #1A1D20;
}

.line-right {
  border-right: 1px solid #1A1D20;
}

.header {
  border-bottom: 2px solid black;
}
.header .header-bg {
  background-image: url(../../img/Images/Fondos/FondoHeader.jpeg);
}
.header .nav-link {
  color: #eed01a;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
  text-shadow: #000 1px 2px;
}
.header .nav-link:hover {
  color: white;
  background-color: rgba(255, 255, 255, 0.0509803922);
  border-radius: 5px;
}
.header .navbar-toggler {
  border: 0;
  color: white !important;
}
.header .navbar-toggler:focus {
  background-color: rgba(255, 255, 255, 0.0509803922);
  border-radius: 5px;
  box-shadow: none;
}
.header [data-bs-theme=dark] .navbar-toggler-icon {
  --bs-navbar-toggler-icon-bg: url(../../img/Others/icon-menu.png);
}

.footer {
  border-top: 1px solid #495057;
  margin-top: 5px;
  background-image: url(../../img/Images/Fondos/FondoHeader.jpeg);
}
.footer .container .row {
  border-bottom: 1px solid #312A25;
}
.footer .container .row .col {
  margin: 5px;
  padding: 15px;
}
.footer .container .footer-icon {
  transition: 1s;
}
.footer .container .footer-icon:hover {
  width: 160px;
}

.fondo-global {
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.fondos-textos {
  position: absolute;
  right: 15%;
  bottom: 9rem;
  left: 15%;
  padding-top: 9rem;
  padding-bottom: 9rem;
  color: #fff;
  text-align: center;
}
.fondos-textos h1, .fondos-textos h2 {
  font-size: 50px;
  color: #eed01a;
  font-weight: bold;
  text-shadow: 3px 3px black;
  font-family: "Orienta", sans-serif;
}
.fondos-textos p {
  font-size: 20px;
  color: #ebdec2;
  text-shadow: 1px 2px black;
}

.fondos-textos-2 {
  position: absolute;
  right: 15%;
  bottom: -50rem;
  left: 15%;
  padding-top: 9rem;
  padding-bottom: 9rem;
  color: #fff;
  text-align: center;
}
.fondos-textos-2 h1, .fondos-textos-2 h2 {
  font-size: 50px;
  color: #eed01a;
  font-weight: bold;
  text-shadow: 3px 3px black;
  font-family: "Orienta", sans-serif;
}
.fondos-textos-2 p {
  font-size: 20px;
  color: #ebdec2;
  text-shadow: 1px 2px black;
}

.section-data {
  background-image: url(../img/Images/Fondos/FondoAzul.jpg);
  border-bottom: 1px solid #495057;
  padding-top: 30px;
}
.section-data .section-data-expansions-bg {
  background-image: url(../img/Images/Fondos/FondoFooter.jpg);
  box-shadow: 0 0 10px 1px black inset;
  background-repeat: no-repeat;
  background-size: cover;
  transition: 1s;
}
.section-data .section-data-expansions-bg:hover {
  transform: scale(1.03);
}
.section-data .card-img-top {
  width: 250px;
}

@keyframes class_animaition_one {
  0% {
    animation-timing-function: ease-in;
    opacity: 1;
    transform: translateX(-48px);
  }
  24% {
    opacity: 1;
  }
  40% {
    animation-timing-function: ease-in;
    transform: translateX(-26px);
  }
  65% {
    animation-timing-function: ease-in;
    transform: translateX(-13px);
  }
  82% {
    animation-timing-function: ease-in;
    transform: translateX(-6.5px);
  }
  93% {
    animation-timing-function: ease-in;
    transform: translateX(-4px);
  }
  25%, 55%, 75%, 87%, 98% {
    animation-timing-function: ease-out;
    transform: translateX(0px);
  }
  100% {
    animation-timing-function: ease-out;
    opacity: 1;
    transform: translateX(0px);
  }
}
@keyframes class_animaition_two {
  0% {
    animation-timing-function: ease-in;
    opacity: 1;
    transform: translateX(48px);
  }
  24% {
    opacity: 1;
  }
  40% {
    animation-timing-function: ease-in;
    transform: translateX(26px);
  }
  65% {
    animation-timing-function: ease-in;
    transform: translateX(13px);
  }
  82% {
    animation-timing-function: ease-in;
    transform: translateX(6.5px);
  }
  93% {
    animation-timing-function: ease-in;
    transform: translateX(4px);
  }
  25%, 55%, 75%, 87%, 98% {
    animation-timing-function: ease-out;
    transform: translateX(0px);
  }
  100% {
    animation-timing-function: ease-out;
    opacity: 1;
    transform: translateX(0px);
  }
}
@keyframes class_animaition_two {
  0% {
    animation-timing-function: ease-in;
    opacity: 1;
    transform: translateX(48px);
  }
  24% {
    opacity: 1;
  }
  40% {
    animation-timing-function: ease-in;
    transform: translateX(26px);
  }
  65% {
    animation-timing-function: ease-in;
    transform: translateX(13px);
  }
  82% {
    animation-timing-function: ease-in;
    transform: translateX(6.5px);
  }
  93% {
    animation-timing-function: ease-in;
    transform: translateX(4px);
  }
  25%, 55%, 75%, 87%, 98% {
    animation-timing-function: ease-out;
    transform: translateX(0px);
  }
  100% {
    animation-timing-function: ease-out;
    opacity: 1;
    transform: translateX(0px);
  }
}
.section-data-class {
  background-image: url(../img/Images/Fondos/FondoClases2.png);
  border-bottom: 1px solid #495057;
}
.section-data-class .card {
  border-radius: 0;
}
.section-data-class .slide-left {
  animation: class_animaition_one 2s ease 1s 1 normal both;
}
.section-data-class .slide-right {
  animation: class_animaition_two 2s ease 1s 1 normal both;
}

@keyframes races_animation {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
.bgs-razas {
  height: 80vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.bgs-razas .img-logo-razas {
  height: 20vh;
}
.bgs-razas .logo-animation {
  animation: races_animation 2s ease 0s 1 normal both;
}

.consulta-text {
  display: none !important;
}

.bg-asistencia {
  background-color: rgba(30, 20, 20, 0.8784313725);
  border-bottom: 1px solid #495057;
}
.bg-asistencia .form-control {
  border: 1px solid black;
}
.bg-asistencia .form-control .label-text {
  color: #ebdec2 !important;
}
.bg-asistencia .form-control:focus {
  border: 1px solid #eed01a;
  box-shadow: 0 0 0 0.25rem rgba(64, 47, 46, 0.7) !important;
}
.bg-asistencia .bg-from-control {
  background-color: #2B1D1C !important;
}

.section-data .text-lanzamiento {
  color: #ebdec2;
  font-size: 14px;
}
.section-data .card-text {
  text-shadow: 2px 2px black;
}

.section-data-class .card .text {
  color: #ebdec2;
  font-size: 14px;
}

@media only screen and (min-width: 1440px) and (max-width: 2560px) {
  .fondos-textos {
    position: absolute;
    right: 15%;
    bottom: 10.25rem;
    left: 15%;
    padding-top: 3.25rem;
    padding-bottom: 3.25rem;
    color: #fff;
    text-align: center;
  }
  .fondos-textos h1, .fondos-textos h2 {
    font-size: 50px;
    color: #eed01a;
    font-weight: bold;
    text-shadow: 3px 3px black;
  }
  .fondos-textos p {
    font-size: 25px;
    color: #ebdec2;
    text-shadow: 1px 2px black;
  }
  .fondos-textos-2 h1, .fondos-textos-2 h2 {
    font-size: 50px;
    color: #eed01a;
    font-weight: bold;
    text-shadow: 3px 3px black;
  }
  .fondos-textos-2 p {
    font-size: 25px;
    color: #ebdec2;
    text-shadow: 1px 2px black;
  }
  .main-world .img-world {
    max-height: 200px;
    height: 180px;
  }
  .main-world .world-text {
    display: none;
  }
  .bgs-razas {
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .bgs-razas .img-logo-razas {
    height: 25vh !important;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1440px) {
  .fondos-textos {
    position: absolute;
    right: 15%;
    bottom: 10.25rem;
    left: 15%;
    padding-top: 10.25rem;
    padding-bottom: 10.25rem;
    color: #fff;
    text-align: center;
  }
  .fondos-textos h1, .fondos-textos h2 {
    font-size: 30px;
    color: #eed01a;
    font-weight: bold;
    text-shadow: 3px 3px black;
  }
  .fondos-textos p {
    font-size: 18px;
    color: #ebdec2;
    text-shadow: 1px 2px black;
  }
  .fondos-textos-2 {
    position: absolute;
    right: 15%;
    bottom: -40rem;
    left: 15%;
    padding-top: 9rem;
    padding-bottom: 9rem;
    text-align: center;
  }
  .fondos-textos-2 h1, .fondos-textos-2 h2 {
    font-size: 30px;
    color: #eed01a;
    font-weight: bold;
    text-shadow: 3px 3px black;
  }
  .fondos-textos-2 p {
    font-size: 18px;
    color: #ebdec2;
    text-shadow: 1px 2px black;
  }
  .main-world .img-world {
    max-height: 200px;
    height: 180px;
  }
  .main-world .fondo-global {
    height: 100vh;
  }
  .main-world .world-text {
    display: none;
  }
  .bgs-razas {
    height: 100vh;
  }
  .bgs-razas .img-logo-razas {
    height: 25vh !important;
  }
  .section-data-class .slide-left {
    animation: none !important;
  }
  .section-data-class .slide-right {
    animation: none !important;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .fondos-textos {
    position: absolute;
    right: 15%;
    bottom: 10.25rem;
    left: 15%;
    padding-top: 10.25rem;
    padding-bottom: 10.25rem;
    color: #fff;
    text-align: center;
  }
  .fondos-textos h1, .fondos-textos h2 {
    font-size: 30px;
    color: #eed01a;
    font-weight: bold;
    text-shadow: 3px 3px black;
  }
  .fondos-textos p {
    font-size: 18px;
    color: #ebdec2;
    text-shadow: 1px 2px black;
  }
  .fondos-textos-2 {
    position: absolute;
    right: 15%;
    bottom: -40rem;
    left: 15%;
    padding-top: 9rem;
    padding-bottom: 9rem;
    text-align: center;
  }
  .fondos-textos-2 h1, .fondos-textos-2 h2 {
    font-size: 30px;
    color: #eed01a;
    font-weight: bold;
    text-shadow: 3px 3px black;
  }
  .fondos-textos-2 p {
    font-size: 18px;
    color: #ebdec2;
    text-shadow: 1px 2px black;
  }
  .main-world .img-world {
    display: none;
  }
  .main-world .fondo-global {
    height: 100vh;
  }
  .main-world .world-text {
    display: none;
  }
  .bgs-razas {
    height: 100vh;
  }
  .bgs-razas .img-logo-razas {
    height: 10vh !important;
  }
  .section-data-class .slide-left {
    animation: none !important;
  }
  .section-data-class .slide-right {
    animation: none !important;
  }
}
@media only screen and (min-width: 320px) and (max-width: 650px) {
  .fondos-textos {
    position: absolute;
    right: 15%;
    bottom: 6.25rem;
    left: 15%;
    padding-top: 2.25rem;
    padding-bottom: 2.25rem;
    text-align: center;
  }
  .fondos-textos h1, .fondos-textos h2 {
    font-size: 25px;
    color: #eed01a;
    font-weight: bold;
    text-shadow: 3px 3px black;
  }
  .fondos-textos p {
    font-size: 15px;
    color: #ebdec2;
    text-shadow: 1px 2px black;
  }
  .fondos-textos-2 {
    position: absolute;
    right: 15%;
    bottom: -50rem;
    left: 15%;
    padding-top: 9rem;
    padding-bottom: 9rem;
    text-align: center;
  }
  .fondos-textos-2 h1, .fondos-textos-2 h2 {
    font-size: 25px;
    color: #eed01a;
    font-weight: bold;
    text-shadow: 3px 3px black;
  }
  .fondos-textos-2 p {
    font-size: 15px;
    color: #ebdec2;
    text-shadow: 1px 2px black;
  }
  .main-world .world-text {
    display: none;
  }
  .main-world .img-world {
    display: none !important;
  }
  .main-world .card-text {
    font-size: 12px !important;
  }
  .bgs-razas {
    height: 100vh;
  }
  .bgs-razas .races-text {
    margin: 10px;
  }
  .bgs-razas .img-logo-razas {
    height: 12vh !important;
  }
  .section-data-class .slide-left {
    animation: none !important;
  }
  .section-data-class .slide-right {
    animation: none !important;
  }
}
@media only screen and (max-width: 1000px) and (orientation: landscape) {
  .fondos-textos {
    position: absolute;
    right: 15%;
    bottom: 0.25rem;
    left: 15%;
    padding-top: 2.25rem;
    padding-bottom: 2.25rem;
    text-align: center;
  }
  .fondos-textos h1, .fondos-textos h2 {
    font-size: 18px;
    color: #eed01a;
    font-weight: bold;
    text-shadow: 3px 3px black;
  }
  .fondos-textos p {
    font-size: 13px;
    color: #ebdec2;
    text-shadow: 1px 2px black;
  }
  .fondos-textos-2 {
    position: absolute;
    right: 15%;
    bottom: -23rem;
    left: 15%;
    padding-top: 9rem;
    padding-bottom: 9rem;
    text-align: center;
  }
  .fondos-textos-2 h1, .fondos-textos-2 h2 {
    font-size: 18px;
    color: #eed01a;
    font-weight: bold;
    text-shadow: 3px 3px black;
  }
  .fondos-textos-2 p {
    font-size: 13px;
    color: #ebdec2;
    text-shadow: 1px 2px black;
  }
  .main-world .world-h1 {
    padding-top: 10px !important;
    font-size: 1.25rem !important;
  }
  .main-world .world-text {
    color: #ebdec2;
    text-shadow: 3px 3px black;
  }
  .main-world .bg-dark-opacity {
    background-color: inherit;
  }
  .main-world .card {
    border: none;
  }
  .main-world .card .img-world {
    display: none;
  }
  .main-world .card .card-text {
    display: none;
  }
  .bgs-razas {
    height: 100vh;
  }
  .bgs-razas .races-text {
    margin: 10px;
  }
  .bgs-razas .img-logo-razas {
    height: 25vh !important;
  }
  .bg-asistencia {
    display: none;
  }
  .consulta-text {
    display: block !important;
  }
}

/*# sourceMappingURL=style.css.map */
