/* -=-=-=-=-=-=-=-=-=-=-=-=-= FONTS -=-=-=-=-=-=-=-=-=-=-=-=-=*/
.ar-one {
    font-family: "AR One Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
      "ARRR" 15;
}

.orienta-regular {
    font-family: "Orienta", sans-serif;
    font-weight: 400;
    font-style: normal;
  }


/* -=-=-=-=-=-=-=-=-=-=-=-=-= DEFAULT  / INICIO -=-=-=-=-=-=-=-=-=-=-=-=-= */

body {
    font-family: "AR One Sans", sans-serif;
    font-size: 16px;
    background-color:  black;
    color: white;
}

.cards-background {
    background-color: #000000ab !important;
}


/* -=-=-=-=-=-= H's... -=-=-=-=-=-= */
h1,h2,h3,h4,h5,h6 {
    color: #eed01a  !important;;
    font-weight: bold  !important;;
    text-shadow: 3px 3px black  !important;;

    font-family: "Orienta", sans-serif !important;
}

/* -=-=-=-=-=-= Parrafos -=-=-=-=-=-= */

p {
    color: white;
    font-family: "AR One Sans", sans-serif;
}

/* -=-=-=-=-=-= Listas y Links -=-=-=-=-=-= */

li {
    list-style: none;
    margin: 15px;
}

a {
    color: #eed01a;
    text-decoration: none;
}

a:hover {
    color: white;
}


/* -=-=-=-=-=-= Fondos -=-=-=-=-=-= */

.bg-dark-opacity {
    background-color: #000000ab;
}


/* -=-=-=-=-=-= Fondos-textos -=-=-=-=-=-= */

.bgs-razas {
    height: 80vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.fondo-global {
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/* 1er texto del fondo */
.fondos-textos {
    position: absolute;
    right: 15%;
    bottom: 9rem;
    left: 15%;
    padding-top: 9rem;
    padding-bottom: 9rem;
    color: #fff;
    text-align: center;
}

/* 2do texto del fondo */
.fondos-textos-2 {
    position: absolute;
    right: 15%;
    bottom: -50rem;
    left: 15%;
    padding-top: 9rem;
    padding-bottom: 9rem;
    color: #fff;
    text-align: center;
}

.fondos-textos h1,h2, .fondos-textos-2 h1,h2 {
    font-size: 50px;
    color: #eed01a;
    font-weight: bold;
    text-shadow: 3px 3px black;

    font-family: "Orienta", sans-serif;
}

.fondos-textos p, .fondos-textos-2 p {
    font-size: 20px; 
    color: #ebdec2;
    text-shadow: 1px 2px black;
}

/* -=-=-=-=-=-=-=-=-=-=-=-=-= HEADER -=-=-=-=-=-=-=-=-=-=-=-=-= */

header {
    background-image: url(../img/Images/Fondos/FondoFooter1.jpeg);
    border-bottom: 2px solid black;
}

header .nav-link {
    color: #eed01a;
    
    text-decoration: none;
    text-transform: uppercase;

    font-weight: bold;
    font-size: 15px;

    text-shadow: #000 1px 2px;

}

header .nav-link:hover {
    color:white;
    background-color: #ffffff0d;
    border-radius: 5px;
}

/* -=-=-=-=-=-=-=-=-=-=-=-=-= FOOTER -=-=-=-=-=-=-=-=-=-=-=-=-= */

footer {
    margin-top: auto;
    background-image: url(../img/Images/Fondos/FondoFooter1.jpeg);
}

footer .container .row {
    border-bottom: 1px solid #312A25;
}

footer .col {
    margin: 5px;
    padding: 15px;
}

footer #copy-p {
    color: #343A40;
    opacity: 80%;
}

/* -=-=-=-=-=-=-=-=-=-=-=-=-= LINEAS -=-=-=-=-=-=-=-=-=-=-=-=-= */

.line-left {
    border-left: 1px solid #1A1D20; 
}

.line-right {
    border-right: 1px solid #1A1D20; 
}

/* -=-=-=-=-=-=-=-=-=-=-=-=-= MAIN -=-=-=-=-=-=-=-=-=-=-=-=-= */

/* INDEX.HTML */
.bg-list {
    background-color: #2B1D1C !important;
    border: 2px solid black;
}

.list-item-action:hover {
    color: #eed01a !important;
}

.border-accordion {
    border: 1px solid black !important;
}

.border-accordion-header {
    border-bottom: 1px solid black !important;
}

.accordion-button {
    color: white !important;
    background-color: #2B1D1C !important;
}

.accordion-button::after {
    background-image: url(../img/Others/buttom-expand.png);
    transition: none !important;
}

.accordion-button:not(.collapsed)::after {
    background-image: url(../img/Others/buttom-unexpand.png);
    transform: none !important;
}

.accordion-button:focus {
    color: #eed01a !important;
    border: 1px solid #eed01a;
    box-shadow: 0 0 0 0.25rem rgba(64, 47, 46, 0.7) !important;
}

.accordion-item {
    background-color: #1E1414 !important;
}

.question {
    margin: 20px;
}

.question-border {
    border-bottom: 1px solid rgba(64, 47, 46);
}

.accordion-body {
    padding: 10px 10px;
}

.accordion-body-question {
    padding-right: 15px;
    font-weight: bold;
    
}

/* EXPANSIONES.HTML */
.section-data {
    background-image: url(../img/Images/Fondos/FondoAzul.jpg);
    border-radius: 10px; 

    margin: 15px;

    padding-top: 30px;
}

.section-data-bg-color {
    background-image: url(../img/Images/Fondos/FondoFooter.jpg);
    box-shadow: 0 0 10px 1px black inset;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #1F1714 !important;
}

/* CLASES.HTML */
.section-data-class {
    background-image: url(../img/Images/Fondos/FondoClases2.png);
}

/* MUNDO.HTML */
.img-world {
    border-radius: 10px;
}

.img-logo-razas {
    height: 25vh;
}

/* -=-=-=-=-=-= EXPANSION - CARDS -=-=-=-=-=-= */


.text-lanzamiento {
    color:#ebdec2;
    font-size: 14px;
}

.card-text {
    text-shadow: 2px 2px black;
}

.card-img-top {
    width: 250px;
}

/* -=-=-=-=-=-=-=-=-=-=-=-=-= QUERYS -=-=-=-=-=-=-=-=-=-=-=-=-= */

@media only screen and (max-width: 1024px) {

    .fondos-textos {
        position: absolute;
        right: 15%;
        bottom: 3.25rem;
        left: 15%;
        padding-top: 3.25rem;
        padding-bottom: 3.25rem;
        color: #fff;
        text-align: center;
    }


    .fondos-textos h1,h2, .fondos-textos-2 h1,h2 {
        font-size: 30px;
        color: #eed01a;
        font-weight: bold;
        text-shadow: 3px 3px black;
    }
    
    .fondos-textos p, .fondos-textos-2 p {
        font-size: 18px; 
        color: #ebdec2;
        text-shadow: 1px 2px black;
    }
}

@media only screen and (max-width: 1024px) {

    #main-world .fondo-global {
        height: 90vh !important;
    }

    #main-world .img-world {
        display: none !important;;
    }

    .img-logo-razas {
        height: 15vh;
    }

    .bgs-razas {
        height: 100vh;
    }
    
}