.section-data-class {
    background-image: url(../img/Images/Fondos/FondoClases2.png);

    .card {
        border-radius: 0;

        .text {
            color: #ebdec2;
            font-size: 14px;
        }
    }
}