.section-data {
    background-image: url(../img/Images/Fondos/FondoAzul.jpg);
    border-bottom: 1px solid #495057;

    padding-top: 30px;

    .section-data-expansions-bg {
        background-image: url(../img/Images/Fondos/FondoFooter.jpg);
        box-shadow: 0 0 10px 1px black inset;
        background-repeat: no-repeat;
        background-size: cover;

        // ANIMACIÓN
        transition: 1s;
        &:hover {
            transform: scale(1.03);
        }
    }

    .card-img-top {
        width: 250px;
    }
}