.footer {
    border-top: 1px solid #495057;
    margin-top: 5px;
    background-image: url(../../img/Images/Fondos/FondoHeader.jpeg);

    .container {
        .row {
            border-bottom: 1px solid #312A25;
            
            .col {
                margin: 5px;
                padding: 15px;
            }
        }

        .footer-icon {
            transition: 1s;
            &:hover {   
                width: 160px;
            }
        }
    }

}