.iron-media {
    border-radius: 10px !important;
    border-image-outset: 7px 8px 7px 8px !important;
    border-image-width: 16px !important;
    border-image-slice: 16 fill !important;
    border-image-source: url(../img/Others/metal_frame.png) !important;
    border-image-repeat: round !important;
}