// VARIABLES
$color-principal: #eed01a;
$color-secundario: white;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "AR One Sans", sans-serif;
    font-size: 16px;
    background-color:  black;
    color: white;
}

::selection {
    background-color: #211510;
    color: #fff
}

h1, h2, h3, h4, h5, h6 {
    color: $color-principal !important;
    font-weight: bold;
    text-shadow: 3px 3px black;
    font-family: "Orienta", sans-serif;
}

p {
    color: $color-secundario;
    font-family: "AR One Sans", sans-serif;
}

li {
    list-style: none;
    margin: 15px;
}

a {
    color: $color-principal;
    text-decoration: none;
}

a:hover {
    color: $color-secundario;
}
